#body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(247, 246, 246);
}
.lightmode{
    width: 85%;
    height: 33px;
    background-color: rgb(211, 223, 244);
    border-radius: 15px 15px 0px 0px;
    margin: auto;
}
.main{
    margin-right: 15%;
    margin-left: 10%;
}
#lo{
    float: left;
    margin-right: 15%;
}
.nav-item{
    width: 110px !important;
    margin-left: 2px;
}

.img{
    width: 30%;
    float: right;
    border-radius: 45px;
    z-index: 0;
    
}
header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    #main{
        align-items: flex-end;
    }
}

.htext{
    margin-top: 10%;
    width: 4rem;
    text-align: start;
    h1{
        font-size: 5vw;
    }
    h6{
        margin-top: 2rem;
        width: 11rem;
        color: rgb(93, 100, 106);
        font-size: 0.9rem;
    }

}

.btn1{
    width: 25%;
    border-radius: 33px;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    text-align: start;
}
.btn2{
    border-radius: 25px;
    width: 35%;
    text-align: start;
    padding-left: 1.3rem;
}
.btn3{
    border-radius: 25px;
    width: 75%;
}
.btn4{
    border-radius: 25px;
    width: 35%;
}
.icon{
    float: right;
    color: #118eee;
    border: 0px;
    border-radius: 25px;
}
.icon2{
    rotate: 180deg;
}
.header1{
    width: 80%;
    text-align: start;
}
.section{
    margin-top: 3rem;
}
.section1{
    width: 100%;
    margin: 4.5rem 0rem;
    display: grid;
}
.im1{
    width: 100%;
    height: 26vh;
    border-radius: 25px;
    box-shadow: 4;
}
.im2{
    margin: auto;
    width: 107%;
    height: 25vh;
    object-fit: cover;
    border-radius: 25px;
}
.rect{
    width: 100%;
    height: 35vh;
    background-color: rgb(50, 139, 241);
    border-radius: 25px;
}
.item1{
    width: 40%;
    height: 26vh !important;
    background-color: rgb(50, 139, 241);
    border-radius: 25px;
    }
.ptext{
    display: flex;
    position: relative;
    text-align: center;
    margin-left: 1.1rem;
    top: 70%;
    font-size: 110%;
    text-align: start;
    color: white;
    font-family: Tahoma, sans-serif;
    font-weight: 800;
}
.card1{
    border-radius: 25px 25px 0px 0px;
    border: 0px;
}
.list{
    width: 11%;
    margin-left: 5%;
}
footer{
    width:100%;
    height: 100%;
    background-color:rgb(222, 222, 222);
    padding-bottom: 50px;

}
.itemf{
    width: 20vh;
    height: 20vh;
    margin-left: 5.5rem;
    background-color: rgb(50, 139, 241);
    border-radius: 25px;
}
.map{
    float: right;
    border-radius: 25px;
    width: 100%;
}
.map1{
    margin-top: 0px;
    margin-right: 3rem;
    border-radius: 25px;
}
.foot{
    width: 90%;
    height: 150%;
    margin: auto;
    background-color: rgb(247, 246, 246);
}
.sec{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-top: 0px;
    padding-left: 4%;
    text-align: start;
}
.h5{
    margin-bottom: 1.6rem;
}
.grayc{
    color: rgb(173, 172, 172);
    margin-bottom: 1.4rem;
}
.sec1{
    margin-top: 3rem;
}
.pad{
    margin-right: 15px;
}
.shape{
    margin: 20px;
}
.rect1{
    width: 5vh;
    height: 5vh;
    background-color: rgba(50, 139, 241, 0.99);
    border-radius: 5px;
    z-index: 1;
    /* translate: 130px 25px; */
}
.rect2{
    width: 5vh;
    height: 5vh;
    background-color: rgba(121, 174, 209, 0.5);
    border-radius: 5px;
    translate: -45px -10px;
}
.rect3{
    width: 5vh;
    height: 5vh;
    background-color: rgb(121, 174, 209,0.5);
    border-radius: 5px;
    translate: -65px 10px;
}
.gr{
    background-color: rgb(154, 155, 156,0.5);
}
.foot2{
    margin: 5rem 0rem;
    align-items: baseline;
}
.ficon{
    border-radius: 25px;
    margin-left: 2rem;
}
.fnavbar{
    width: 10px;
    max-width: 100%;
}

@media (max-width: 576px){
    .img{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    }
    
    .map1{
        width: 65%;
        margin: 1rem;
        padding: 1rem;

    }
    .sec{
        width: 70%;
        margin-right: 22px;
        margin: 20px;
    }
    .con{
        margin: 20px;
        width: 100%;
        margin: 10px;
    }
    .item1{
        width: 100%;
    }
    .f1,.f2{
        width: 100%;
    }
    .im1,.im2{
        display: none;
    }
    .btn{
        width: 70%;
    }
}
